#HTML{
    
}
#desktop{
width:auto;
height:auto;
background-color:green;
}
/* Här kommer desigen för ett fönster / Template för window m.m */
#template{
    
}
#headline{
    
}
#titel{
    
}
#close{
    
}
#window{
    
}
#box{
    
}
#underline{
    
}
#titelnr2{
    
}
/* Slut på fönster*/
#taskbar{
    
}