#html,body{
width:auto;
height:auto;
margin:0;
padding:0;
background-image:url("Pics/Backgroundpic.jpg");
}
.desktop{ /*Själva skrivbordet */
width:auto;
height:auto;
}
/* Här kommer desigen för ett fönster / Template för window m.m */ /*Templatet är hur fönstet som genereras upp kommer att se ut designmässigt*/
.template{
    
}
.headline{ /*Rubriken på fönstret*/
    
}
.titel{ 
    
}
.close{ /*Stänga knappen*/
    
}
.window{ /*Själva fönstret*/
    
}
.box{ /*Innehållet*/
    
}
.underline{ 
    
}
.titelnr2{
    
}
/* Slut på fönster*/
.taskbar{ /*Startmenyn / Dockan / Där knapparna kommer att finnas */
width:auto;
height:50px;
background-color:grey;
}